html{
    font-family: Segoi UI, futura, sans-serif;
}

body {
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
}

.banner {
    background-color: #6FB3B8;
    display: flex;
    color:white;
    font-size: 24px;
    align-items: center;
    padding: 12px 120px;
    justify-content: space-between;
    flex: 1;
}

img {
    object-fit: contain;
    height: 100%;
    width: auto;
}

.banner a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.banner ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 24px;
}

.left-banner {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 16px;
}

.footer {
    background-color: #6FB3B8;
    color:white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position:relative;
    bottom: 0;
    width: 100%;
}

.intro {
    background-color: #388087;
    color: white;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    padding: 80px 120px;
    height: 400px;
    gap: 64px;
}

.panel {
    width: 600px;
}

.intro h1{
    font-size: 48px;
    margin-top: 0px;
}

.intro p{
    font-size: 18px;
}

button {
    background-color: #BADFE7;
    color: #1F2937;
    border-radius: 8px;
    padding: 8px 18px;
    font-size: 24px;
    font-weight: 550;
    border: #1F2937;
    border-style:inset;
    border-width:3px;
}

.content {
    text-align: center;
    padding: 48px 0px;
    background-color: #C2EDCE;
}

.content h1{
    font-size: 36px;
    color: #1F2937;
    margin-top: 0;
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
}

.team img{
    height: 250px;
    width: auto;
}

.team h2 {
    margin: 6px;
}

.team p{
    margin: 6px;
    width: 250px;
}

.role {
    font-style: italic;
}

.quote{
    width: 100%;
    background-color: #F6F6F2;
    display: flex;
    justify-content: center;
}

.container{    padding: 48px 0px;

    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: #F6F6F2;
    padding: 56px;
}

.q {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: left;
    margin: 0;
}

.a{
    text-align: right;
    font-size: 18px;
    margin: 0;
}

.action {
    background-color: #BADFE7;
    color: #1F2937;
    display: flex;
    width: 880px;
    justify-content: space-between;
    align-items: center;
    gap: 86px;
    padding: 48px 96px;
    border-radius: 12px;
    margin: 72px;
}

.action button{
    white-space: nowrap;
    background-color: #F6F6F2;
}

.action h2{
    font-size: 36px;
    margin: 0;
    margin-bottom: 8px;
}

.action p{
    font-size:24px;
    margin: 0;
}

.border {
    display: flex;
    justify-content: center;
    background-color: #388087;
}